<article class="element-card">
  <div class="element-card__body">
   <p>{{ elementProperty.ElementName }}</p>
   <p> {{ elementProperty.PropertyName }}: {{ elementProperty.PropertyValueString }}</p>
   </div>
</article>