{% import "element-card-macro.njk" as propertyCard %}
<section class="elements">
  <h2 class="element__heading">Properties of the first four elements.</h2>

  {% set filenameArray = [] %}
  {% set filenameBase = "Element" %}
  {% for i in range(1, 5) %}
    {% set filename = ([filenameBase, i] | join )%}
    {% set filenameArray =  ( filenameArray.push(filename), filenameArray ) %}
  {% endfor %}
 
  {% for filenameArrayItem in filenameArray %}
    {%- set elementPropertyDataFilename = Elements[filenameArrayItem] %}
    <div class="element-grid">
      {{ propertyCard.card( elementPropertyDataFilename ) }}
    </div>
  {% endfor %}


</section>