<article class="element-card">
  <div class="element-card__body">
    {% for element in Element1 %}
   <p> {{ element.PropertyName }}: {{ element.PropertyValueString }}</p>
   {% endfor %}
   </div>
</article>