<section class="elements">
  <h2 class="element__heading">Properties of the first four elements.</h2>
  <div class="element-grid">
    {% for elementProperty in ElementProperties1 %}
      {% include "element-card-new.njk" %}
    {% endfor %}
  </div>
</section>