  <header >
    <div class="header container">
      <div>
        <h2>
          <a href="/">Temperature</a>        
      </div>
      <div>
        <h1 class="header__title">
          <a href="/">Meta-Biol</a>
        <ul class="header__links">
          <li>
            <a class="header__link" href="/about">About</a>
          </li>
          <li>
            <a class="header__link" href="/elements">Elements</a>
          </li>
          <li>
            <a class="header__link" href="/contact">Contact</a>
          </li>
        </ul>    
      </div>
    </div>

	</header>