---
title: "Meta-Biol: Elements"
layout: "base.njk"
---

<section class="bio prose">
  <h2 class="heading--main">The Meta-Biol story</h2>
  <p>This site provides information and metadata from major BioInformatics sites and databases.</p>
  <p>The goal is to integrate material from multiple sites and provide links to related content.</p>
 
</section>