---
title: "Elements"
layout: "base.njk"
---

<h2 class="elements__heading">Properties of the first four elements</h2>
<p>
  {{elementProperty.RecordType}}
</p>
<div class="element-list">
  {% for elementProperty in ElementProperties1 %}
    {% include "element-card-new.njk" %}
  {% endfor %}
</div>