---
title: "Elements"
layout: "base.njk"
---

<h2 class="elements__heading">Properties of the first four elements</h2>
<p class="tagline" >{{Element1[0].ElementName}}:</p>
<div class="element-list">
    {% include "element-card-new.njk" %}
</div>