---
title: "Elements"
layout: "base.njk"
---

<h2 class="elements__heading">First four elements</h2>
<div class="element-list">
  {% for element in collections.elements %}
    {% include "element-card.njk" %}
  {% endfor %}
</div>